.path-user-register .main-container-inner .w3css-content,
.path-user-password .main-container-inner .w3css-content,
.path-user-login .main-container-inner .w3css-content {
  width: auto !important;
  max-width: 900px;
  margin: 16px auto !important;
  float: none !important;
}

.path-user-register .main-container-inner .first-sidebar,
.path-user-password .main-container-inner .first-sidebar,
.path-user-login .main-container-inner .first-sidebar,
.path-user-register .main-container-inner .second-sidebar,
.path-user-password .main-container-inner .second-sidebar,
.path-user-login .main-container-inner .second-sidebar {
  height: 0 !important;
  width: 0 !important;
  display: none !important;
}

.path-user-register .main-container-inner nav.tabs > ul.tabs,
.path-user-password .main-container-inner nav.tabs > ul.tabs,
.path-user-login .main-container-inner nav.tabs > ul.tabs {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
}

.path-user-register .main-container-inner nav.tabs > ul.tabs > li,
.path-user-password .main-container-inner nav.tabs > ul.tabs > li,
.path-user-login .main-container-inner nav.tabs > ul.tabs > li {
  flex: 1;
}
