body {
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/mukta/mukta-v8-latin-regular.woff2') format('woff2'),url('fonts-files/mukta/mukta-v8-latin-regular.woff') format('woff');
}
