body {
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/oswald/oswald-v40-latin-regular.woff2') format('woff2'),url('fonts-files/oswald/oswald-v40-latin-regular.woff') format('woff');
}
