body {
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/bitter/bitter-v19-latin-regular.woff2') format('woff2'),url('fonts-files/bitter/bitter-v19-latin-regular.woff') format('woff');
}
