body {
  font-style: normal;
}

@font-face {
  font-family: 'Cinzel';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/cinzel/cinzel-v11-latin-regular.woff2') format('woff2'),url('fonts-files/cinzel/cinzel-v11-latin-regular.woff') format('woff');
}
