body {
  font-style: normal;
}

@font-face {
  font-family: 'Bree Serif';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/bree-serif/bree-serif-v10-latin-regular.woff2') format('woff2'),url('fonts-files/bree-serif/bree-serif-v10-latin-regular.woff') format('woff');
}
