body {
  font-style: normal;
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/oxygen/oxygen-v10-latin-regular.woff2') format('woff2'),url('fonts-files/oxygen/oxygen-v10-latin-regular.woff') format('woff');
}
