body {
  font-style: normal;
}

@font-face {
  font-family: 'Merienda';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/merienda/merienda-v9-latin-regular.woff2') format('woff2'),url('fonts-files/merienda/merienda-v9-latin-regular.woff') format('woff');
}
