body {
  font-style: normal;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/anton/anton-v15-latin-regular.woff2') format('woff2'),url('fonts-files/anton/anton-v15-latin-regular.woff') format('woff');
}
