body {
  font-style: normal;
}

@font-face {
  font-family: 'Archivo Narrow';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/archivo-narrow/archivo-narrow-v18-latin-regular.woff2') format('woff2'),url('fonts-files/archivo-narrow/archivo-narrow-v18-latin-regular.woff') format('woff');
}
