body {
  font-style: normal;
}

@font-face {
  font-family: 'Kalam';
  font-style: normal;
  font-weight: 700;
  src: local(''),url('fonts-files/kalam/kalam-v11-latin-700.woff2') format('woff2'),url('fonts-files/kalam/kalam-v11-latin-700.woff') format('woff');
}
