body {
  font-style: normal;
}

@font-face {
  font-family: 'Kavivanar';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/kavivanar/kavivanar-v8-latin-regular.woff2') format('woff2'),url('fonts-files/kavivanar/kavivanar-v8-latin-regular.woff') format('woff');
}
