body {
  font-style: normal;
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/alegreya-sans/alegreya-sans-v14-latin-regular.woff2') format('woff2'),url('fonts-files/alegreya-sans/alegreya-sans-v14-latin-regular.woff') format('woff');
}
