body {
  font-style: normal;
}

@font-face {
  font-family: 'Barlow Semi Condensed';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/barlow-semi-condensed/barlow-semi-condensed-v7-latin-regular.woff2') format('woff2'),url('fonts-files/barlow-semi-condensed/barlow-semi-condensed-v7-latin-regular.woff') format('woff');
}
