body {
  font-style: normal;
}

@font-face {
  font-family: 'Oranienbaum';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/oranienbaum/oranienbaum-v10-latin-regular.woff2') format('woff2'),url('fonts-files/oranienbaum/oranienbaum-v10-latin-regular.woff') format('woff');
}
