body {
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/lato/lato-v20-latin-regular.woff2') format('woff2'),url('fonts-files/lato/lato-v20-latin-regular.woff') format('woff');
}
