body {
  font-style: normal;
}

@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/comfortaa/comfortaa-v34-latin-regular.woff2') format('woff2'),url('fonts-files/comfortaa/comfortaa-v34-latin-regular.woff') format('woff');
}
