body {
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/playfair-display/playfair-display-v25-latin-regular.woff2') format('woff2'),url('fonts-files/playfair-display/playfair-display-v25-latin-regular.woff') format('woff');
}
