body {
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/inconsolata/inconsolata-v21-latin-regular.woff2') format('woff2'),url('fonts-files/inconsolata/inconsolata-v21-latin-regular.woff') format('woff');
}
