body {
  font-style: normal;
}

@font-face {
  font-family: 'Spline Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/spline-sans/spline-sans-v1-latin-regular.woff2') format('woff2'),url('fonts-files/spline-sans/spline-sans-v1-latin-regular.woff') format('woff');
}
