body {
  font-style: normal;
}

@font-face {
  font-family: 'Patrick Hand';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/patrick-hand/patrick-hand-v14-latin-regular.woff2') format('woff2'),url('fonts-files/patrick-hand/patrick-hand-v14-latin-regular.woff') format('woff');
}
