body {
  font-style: normal;
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  src: local(''),url('fonts-files/dancing-script/dancing-script-v19-latin-700.woff2') format('woff2'),url('fonts-files/dancing-script/dancing-script-v19-latin-700.woff') format('woff');
}
