body {
  font-style: normal;
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: local(''),url('fonts-files/courgette/courgette-v8-latin-regular.woff2') format('woff2'),url('fonts-files/courgette/courgette-v8-latin-regular.woff') format('woff');
}
